{% extends 'Qsee/base.html' %}

{%block title %}Quality Report{% endblock %}

{% block content %}
<h3>Test data for {{control.assay_id}} - (Control: {{control.control_name}},    Lot#: {{control.lot_number}})</h3>
{% if tests_analyser %}
    <ul>
    {% for analyser, tests in tests_analyser.items %}
        <li><h4>{{analyser}} <a href="{% url 'test_input' control.id analyser.id %}">Add control data</a></h4></li>
        <ul>
            {% load static %}
            <img src="{% static aload %}.svg" alt="Quality control results" width="75%" height="75%">
            {% for test in tests reversed %}
                <li>{{test.result}} ({{test.test_date}})</li>
            {% endfor %}
        </ul>
    {% endfor %}
    <hr>
    <p>Add control data to different analyser.</p>
    <ul>
        {% for analyser in analysers %}
            <li><a href="{% url 'test_input' control.id analyser.id %}">{{analyser.analyser_name}}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <hr>
    <p>No test data available. Select analyser to add control data.</p>
    <ul>
        {% for analyser in analysers %}
            <li><a href="{% url 'test_input' control.id analyser.id %}">{{analyser.analyser_name}}</a></li>
        {% endfor %}
    </ul>
{% endif %}
{% endblock %}